# Ignorar archivos Excel
*.xlsx
*.xls

# Ignorar archivos CSV
*.csv

# Ignorar archivos Word
*.docx
*.doc

# Ignorar archivos ZIP
*.zip

# Ignorar base de datos
*.db

# Ignorar todos los archivos .geojson
*.geojson

# Si tienes más archivos geojson que deseas ignorar, puedes añadirlos aquí
Departamentos.geojson
