# Ignorar archivos Excel
*.xlsx
*.xls

# Ignorar archivos CSV
*.csv

# Ignorar archivos Word
*.docx
*.doc

# Ignorar archivos ZIP
*.zip

# Ignorar base de datos
*.db

# Ignorar archivos geojson
*.json

# Ignorar archivos HTML
*.html